<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.lzf.stepcalculationlzf">

    <uses-feature
        android:name="android.hardware.sensor.stepcounter"
        android:required="true"/>

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <receiver android:name=".BootReceiver">
            <intent-filter>
                <!--在系统启动完成后，这个动作被广播一次（只有一次）。-->
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".AppUpdatedReceiver">
            <intent-filter>
                <!--监听APP升级广播处理-->
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".SensorListener"/>

        <receiver
            android:name=".ShutdownRecevier">
            <intent-filter>
                <!--关闭系统时发出的广播-->
                <action android:name="android.intent.action.ACTION_SHUTDOWN"/>
            </intent-filter>
        </receiver>


        <receiver
            android:name=".PowerReceiver"
            android:enabled="false">
            <intent-filter>
                <!--插上外部电源时发出的广播-->
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <!--已断开外部电源连接时发出的广播-->
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>